body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(68.15deg, #ac8c48bb 16.62%, #f3e6dac0 85.61%);
}

header {
  background: linear-gradient(68.15deg, #5a8d8d 16.62%, #c29c6b 85.61%);
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: #444;
  font-size: 36px;
  margin: 0;
}

nav {
  background: linear-gradient(68.15deg, #5a8d8d 16.62%, #c29c6b 85.61%);
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Navegador, início, sobre, produtos e contato, para o pc */
nav ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
  font-family: 'Roboto Mono', monoespaçado;
}
/* Navegador, início, sobre, produtos e contato, para mobile*/
@media only screen and (max-width: 768px) {
  nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Roboto Mono', monoespaçado;
  }
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
#tituloinicio {
  font-family: Arial, Helvetica, sans-serif;
  color: #5a8d8dc0;
}

#sobre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #5a8d8dc0;
}

.imgigor {
  background-image: url(img/iniciosite.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0;
  width: 100%;
  height: 565px;
}
@media only screen and (max-width: 768px) {
  .imgigor {
    width: 100%;
    background-image: url(img/iniciosite.png);
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 0px -2px 50px 20px #f0cf76b9;
    height: 200px;
  }
}

.imgigor:hover {
  box-shadow: 0px -2px 50px 20px #f7bc1852;
}

.content {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80%;
  max-width: 100%;
  box-shadow: 0 10px 30px rgba(141, 76, 27, 0.767);
}
@media only screen and (max-width: 768px) {
  .content {
    position: relative;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px -2px 50px 20px rgba(179, 84, 12, 0.582);
    margin-top: 55%;
    height: 360px;
  }
}
.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
@media only screen and (max-width: 768px) {
  .navigation {
    width: 100%;
  }
}

.content:hover {
  box-shadow: 0px -2px 50px 20px #f7bc1852;
}

.bar {
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.bar:hover {
  background-color: #ffffff;
}
input {
  display: none;
}
.slides {
  display: flex;
  width: 500%;
  height: 100%;
}
.slide {
  width: 20%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
#slide1:checked ~ .s1 {
  margin-left: 0;
}
#slide2:checked ~ .s1 {
  margin-left: -20%;
}
#slide3:checked ~ .s1 {
  margin-left: -40%;
}
#slide4:checked ~ .s1 {
  margin-left: -60%;
}
#slide5:checked ~ .s1 {
  margin-left: -80%;
}


#produtos-tittle{
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  color: #5a8d8db0;
  position: relative;
  top: 560px;
}

@media only screen and (max-width: 768px) {
  #produtos-tittle{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: #5a8d8db0;
    position: relative;
    top: 365px;
    margin-top: -140%;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  position: relative;
  top: 590px;
}

@media only screen and (max-width: 768px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    position: relative;
    top: 400px;
  }
}

@media only screen and (min-width: 769px) {
  #produtos-tittle {
    top: 750px; /* antes estava em 560px */
  }

  .product-grid {
    top: 780px; /* antes estava em 590px */
  }

  footer {
    top: auto; /* remove efeito do top */
    margin-top: 220px; /* aumenta o espaço real acima do footer */
  }
}

.product-item {
  background-color: #eee7c6c7;
  padding: 20px;
  box-shadow: 0 0 40px rgba(12, 12, 12, 0.247);
  text-align: center;
  border-radius: 5px;
}

.product-item img {
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
}
.product-item img {
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
}

.product-item img:hover {
  transform: scale(1.1);
  box-shadow: 0px -2px 50px 20px #f7bc182c;
}

.product-item h3 {
  font-family: 'Montserrat', sans-serif;
  color: #616060;
  margin: 10px 0;
  font-size: 20px;
}

.product-item p {
  margin: 0;
}

footer {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(68.15deg, #c29c6bbe 16.62%, #c29c6baf 85.61%);
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(240, 236, 233, 0.582);
  position: relative;
  top: 600px;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: left;
  color: hwb(0 100% 0%);
  font-size: 15px;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
@media only screen and (max-width: 768px) {
  footer p {
    font-family: 'Castoro Titling', cursiva;
    margin: 0;
    text-align: left;
    color: #000000;
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  footer h4 {
    font-family: 'Castoro Titling', cursiva;
    text-align: left;
    font-size: 20px;
  }
}
footer h4 {
  text-align: left;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
}
#logo-video {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 100%;
}
.whatssapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  transition: transform 0.2s ease-in-out;
}
.whatssapp img:hover{
  transform: scale(1.1);
}
form {
  text-align: left;
  list-style: none;
}
/* Icons das redes sociais*/
.fa-instagram {
  color: #000000;
  font-size: 2.5rem;
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  .fa-instagram {
    color: #000000;
    font-size: 2.0rem;
    margin-right: 10px;
  }
}
/* Icons das redes sociais*/
.fa-facebook {
  color: #000000;
  font-size: 2.5rem;
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  .fa-facebook {
    color: #000000;
    font-size: 2.0rem;
    margin-right: 10px;
  }
}
/* Icons das redes sociais*/
.fa-pinterest {
  color: #000000;
  font-size: 2.5rem;
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  .fa-pinterest {
    color: #000000;
    font-size: 2.0rem;
    margin-right: 10px;
  }
}
/* Icons das redes sociais*/
a {
  text-decoration: none;
}
/* Icons das redes sociais*/
a {
  text-decoration: underline;
  text-decoration-color: #c29c6baf
}
/* Formas de pagamento */
.payment-options {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}
/* Formas de pagamento */
.payment-options img {
  height: 40px;
  margin-right: 20px;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .payment-options img {
    height: 25px;
    margin-right: 20px;
    filter: grayscale(100%);
    transition: all 0.3s ease;
  }
}
/* Formas de pagamento */
.payment-options img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.footerdireitos h4{
  color: #000000;
}
#footerdireitos {
  font-size: 10px;
  color: #e4b32d83;
  height: 30px;
}
.fa-instagram,
.fa-facebook,
.fa-pinterest {
  font-size: 35px;
  color: #333;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-pinterest:hover {
  color: #48ac72;
  cursor: pointer;
  transform: translateY(-3px);
}
